bs4
langchain
ipykernel
python-dotenv
langchain-community
pypdf
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain-huggingface
transformers 
huggingface_hub
faiss-cpu
langchain_chroma
langchain-google-genai 
google-generativeai
streamlit
langchain_groq
fastapi
uvicorn
langserve
sqlalchemy
mysql-connector-python
validators
youtube_transcript_api
pytube
langchain_huggingface